.button {
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding: 24px 32px;
    border: none;
    color: #FFFFFF;
    margin: 32px 0;  
}

.button:hover {
    background-color: #4a65d3;
    cursor: pointer;
}