.form {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 50px;
    flex-wrap: wrap;
    gap: 40px;
}

.form form {
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.25);
    padding: 8px 60px;
    width: 70%;
}

.form h2 {
color: #212121;
font-size: 32px;
font-weight: 400;
}


